@import url("../tokens.css");

/* Qulipta DTC — Token Overrides */
:root {
  --shadow-card: rgb(34 34 34 / 50%) 0 3px 6px 0;
  --shadow-elevated: rgb(85 85 85) 0 3px 10px 1px;
  --shadow-subtle: rgb(153 153 153) 0 2px 10px -3px;
}
